<div class="applications-section">
  <div class="container">
    <div class="col-md-6">
      <!-- Device -->
      <div class="device" id="device">
        <div class="device-shape device-shape-vertical">
          <div class="device-screen device-screen-vertical">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>EvictUs</h2>
      <p>A web application for publicly documenting evictions in San Francisco, connecting users to tenant’s rights information, and existing advocacy efforts. EvictUs is a social forum where users engage in discussion and commentary about recent San Francisco evictions.</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://sf-evictions-feed.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
        </li>
        <li>
          <a href="https://github.com/isangieri/sf-eviction-feed" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="applications-section">
  <div class="container">
    <div class="col-md-6">
      <!-- Device -->
      <div class="device" id="device">
        <div class="device-shape device-shape-vertical">
          <div class="device-screen device-screen-vertical">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Fleeting Beauty</h2>
      <p>Fleeking Beauty allows users to unleash their aesthetic judgments upon the internet presence of any place on earth. Users vote on photos of an unnamed place, judging whether they deem them to be "hot" or "not". We store users' vote data and display it visually using graphs.</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="http://fleetingbeauty.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
        </li>
        <li>
          <a href="https://github.com/BreonKnight/fleeking_beauty" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="applications-section">
  <div class="container">
    <div class="col-md-6">
      <!-- Device -->
      <div class="device" id="device">
        <div class="device-shape device-shape-vertical">
          <div class="device-screen device-screen-vertical">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Travelogue</h2>
      <p>Travelogue is a community driven blog where users may share tips, experiences, and stories about their favorite locations around the world.</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://travelogueone.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
        </li>
        <li>
          <a href="https://github.com/bachtsui/Travelogue" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
