<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Is Angieri</title>

    <!-- CUSTOM FONTS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- PLUGIN JAVASCRIPT -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- CUSTOM JAVASCRIPTS -->
    <script src="js/easing.js"></script>
    <script src="js/device.js"></script>

  </head>
  <body><body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
              <i class="fa fa-play-circle"></i>  <span class="light">Is</span> Angieri
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#applications">Applications</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <!-- <h1 class="brand-heading">Is Angieri</h1> -->
              <p class="intro-text">Hello! My name is Is Angieri, and I'm an Oakland based full stack web developer looking to contribute and make an impact.
              </p>
              <p class="intro-text">World traveled, tech savvy, detail oriented, analytical, creative, and a self-starter, I enjoy public speaking, translating ideas, and being a bridge between different worlds. I help Luddites understand technology, build web apps, and architect software solutions collaboratively or solo.</p>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>About Is</h2>
          <p>I am cultivating my career through life-long learning, enriching experiences, humanist principles and open source values.</p>
          <p>At UC Berkeley's College of Environmental Design, I curated my passion for computational design, digital fabrication, and modular systems design, and took a first crack at information management in entrepreneurship.</p>
          <p>Check out my <a href="http://www.isabelleangieri.com/">art site</a> for a glimpse of my creative works and artistic perspective.</p>
        </div>
      </div>
    </section>

    <!-- Applications Section -->
    <section id="applications" class="content-section text-center">
      <div class="applications-section">
        <div class="container">
          <div class="col-md-6">
            <!-- Device -->
            <div class="device" id="device">
              <div class="device-shape device-shape-vertical">
                <div class="device-screen device-screen-vertical">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Flick Hike</h2>
            <p>Flick Hike is a curation driven site for discovering San Francisco via historic film scene locations. Users curate lists of memorable film scenes, plot their own filmic adventures around the city, and share them with others.</p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="http://www.filmhikes.com" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
              </li>
              <li>
                <a href="https://github.com/isangieri/flick-hike" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="applications-section">
        <div class="container">
          <div class="col-md-6">
            <!-- Device -->
            <div class="device" id="device">
              <div class="device-shape device-shape-vertical">
                <div class="device-screen device-screen-vertical">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>EvictUs</h2>
            <p>A web application for publicly documenting evictions in San Francisco, connecting users to tenant’s rights information, and existing advocacy efforts. EvictUs is a social forum where users engage in discussion and commentary about recent San Francisco evictions.</p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://sf-evictions-feed.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
              </li>
              <li>
                <a href="https://github.com/isangieri/sf-eviction-feed" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="applications-section">
        <div class="container">
          <div class="col-md-6">
            <!-- Device -->
            <div class="device" id="device">
              <div class="device-shape device-shape-vertical">
                <div class="device-screen device-screen-vertical">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Fleeting Beauty</h2>
            <p>Fleeking Beauty allows users to unleash their aesthetic judgments upon the internet presence of any place on earth. Users vote on photos of an unnamed place, judging whether they deem them to be "hot" or "not". We store users' vote data and display it visually using graphs.</p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="http://fleetingbeauty.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
              </li>
              <li>
                <a href="https://github.com/BreonKnight/fleeking_beauty" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="applications-section">
        <div class="container">
          <div class="col-md-6">
            <!-- Device -->
            <div class="device" id="device">
              <div class="device-shape device-shape-vertical">
                <div class="device-screen device-screen-vertical">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Travelogue</h2>
            <p>Travelogue is a community driven blog where users may share tips, experiences, and stories about their favorite locations around the world.</p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://travelogueone.herokuapp.com/" class="btn btn-default btn-lg"><span class="network-name">Proof of Concept</span></a>
              </li>
              <li>
                <a href="https://github.com/bachtsui/Travelogue" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Drop Me A Line</h2>
          <p></p>
          <p><a href="mailto:isangieri@isangieri.com">isangieri@isangieri.com</a>
          </p>
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://www.linkedin.com/in/isangieri" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
            </li>
            <li>
              <a href="https://github.com/isangieri" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="https://medium.com/@isangieri" class="btn btn-default btn-lg"><i class="fa fa-medium fa-fw"></i> <span class="network-name">Medium</span></a>
            </li>
            <li>
              <a href="https://www.instagram.com/diagramcode/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
            </li>
            <li>
              <a href="https://twitter.com/TakeThisJaunt" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p class="light">Copyright &copy; Is Angieri 2016</p>
      </div>
    </footer>

  </body>
</html>
