body {
  color: #EA730B;
}

.jumbotron {
  background-image: url(/images/animatedornages99398-01.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 500px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

